.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #940406;
}

.logo1 {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    animation: spin 1s linear infinite;
    border-radius: 50%;
}

.loading-spinner {
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #333;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 980px) {}